.section-heading-lower { 
  @include subheading-font;
}

.cta-inner { 
  border-radius: 0.25 rem !important;
  border: 1px solid black;
  border-radius: 25%;

  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 20px;
}

.list-unstyled.list-hours.mb5 { 
  margin-bottom: 10px !important;
}

ul.list-unstyled {
  border-bottom: 1px solid black ;
  li { 
    padding-left: 10px;
    padding-right: 10px;
  }
  .subheading{ 
    font-size: 12px;
  }
}

.list-hours {
  font-size: 0.9rem;
  .list-hours-item {
    margin-bottom: 0.5rem;
    font-style: normal;
    &.today {
      font-weight: bold;
      color: $primary;
    }
  }
  @media(min-width: 992px) {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address {
  strong {
    font-size: 1.2rem;
  }
}

.mb-0 { 
  padding-bottom: 20px;
}

.asterix { 
  margin-bottom: 20px;
}

